{% extends "chicblog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"/>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'chicblog:user_posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                {% if post.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'chicblog:post_update' post.pk %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'chicblog:post_delete' post.pk %}">Delete</a>
                    </div>
                    {% endif %}
            </div>
            <h2>
                <a class="article-title">{{ post.title }}</a>
            </h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>


    
    <h4>{{ comments.count }} comments</h4>

    <div class="content-section">
        <form method="POST" action="{% url 'chicblog:comment_create' 1 %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">Create New Post</legend> -->
                {{ comment_create_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Comment</button>
            </div>            
        </form>
    </div>

    {% for comment in comments %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}"/>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'chicblog:user_posts' comment.author.username %}">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</small>
            </div>

            <p class="article-content">{{ comment.content }}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}